<!-- uploads will be passed here from ui. their id's will likely be stored in store -->
<!-- we would pass them like this, in getUploadsSuccess: -->
<!-- const showUploadsHtml = showUploadsTemplate({ uploads: data.uploads }) -->
<!-- except I'm not sure the above line is datting into the right key/value -->
<!-- we will figure it out tomorrow (Thursday) -->
{{#each uploads as |upload|}}
<div class="section-wrapper">
  <section data-id="{{upload.id}}" class="images">
    <p>
      <div>
        <div class="feature-item">
          <!-- Button trigger modal -->
          <img src={{upload.url}} class="img-responsive" style="max-width: 100%" alt="" type="button" class="img-fluid" data-toggle="modal" data-target="#exampleModal-{{upload._id}}" data-id="{{upload._id}}" data-whatever="{{upload._id}}">

          <!-- Modal -->
          <div class="modal fade bd-example-modal-lg modal-preview" id="exampleModal-{{upload._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-id="{{upload._id}}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center d-block" data-id="{{upload._id}}">
                  <img src={{upload.url}} class="img-responsive" style="max-width: 100%" />
                </div>
                <div class="modal-footer">
                  <a href="{{upload.url}}" target=“_blank”>
                    <button type=“button” class="btn btn-danger">
                      Full Size
                    </button>
                  </a>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->

        </div>
      </div>
    </p>
    <h3 class="image-title">
      {{upload.name}}
    </h3>
    <div class="upload-data">
    <h6 class="image-description">
      {{#if upload.description}}
        {{upload.description}}
      {{else}}
        No description provided.
      {{/if}}
    </h6>
    <hr>
    <p class="text-handlebars">Submitted by:</p> <span class="data-handlebars">{{splitEmail upload.email}}</span><br />
    <p class="text-handlebars">Submitted on:</p> <span class="data-handlebars">{{limit upload.createdAt}}</span><br />
    <p class="text-handlebars">Updated on:</p><span class="data-handlebars">{{limit upload.updatedAt}}</span><br />
      <h6 class="tags">tags:</h6>
    <p>
      {{upload.tags}}
    </p>
    <hr>
    <!-- <span class="text-handlebars"> -->
      {{#if upload.editable}}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal-{{upload._id}}" data-id="{{upload._id}}" data-whatever="{{upload._id}}">
          Edit
        </button>
        <button class="btn btn-danger remove-upload" data-id="{{upload._id}}">Take it down!</button>
      </div>
    <!-- </span> -->
        <!-- MODAL START -->

        <div class="modal fade modal-upload" id="editModal-{{upload._id}}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- FORM START -->
                <div class="edit-upload-buttons">
                  <form data-id="{{upload._id}}" id="image-update-{{upload._id}}" class="form-group" required>
                    <p class="text-handlebars"> Name: </p><span class="data-handlebars"><input name="upload[name]" type="text" placeholder="name" /></span><br /><br />
                  <p class="text-handlebars">Description: </p><span class="data-handlebars"><input name="upload[description]" type="text" placeholder="description" /> </span><br /><br />
                    <p class="text-handlebars"> Tags: </p><span class="data-handlebars"><input name="upload[tags]" type="text" placeholder="tags" /> </span><br /></br />
                    <center><p><input id="editClose" type='submit' value='update' class="btn btn-danger"> </p></center>
                  </form>
                </div>
                <!-- FORM END -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MODAL END -->

      {{/if}}

  </section>
</div>
{{/each}}
