<!-- uploads will be passed here from ui. their id's will likely be stored in store -->
<!-- we would pass them like this, in getUploadsSuccess: -->
<!-- const showUploadsHtml = showUploadsTemplate({ uploads: data.uploads }) -->
<!-- except I'm not sure the above line is datting into the right key/value -->
<!-- we will figure it out tomorrow (Thursday) -->

{{#each uploads as |upload|}}

  <section data-id="{{upload.id}}">


    <h3>
      {{upload.name}}
    </h3>
    <h6>Description:</h6>
    <p>
      {{#if upload.description}}
        {{upload.description}}
      {{else}}
        No description provided.
      {{/if}}
    </p>
    <p>
      <img src={{upload.url}} />
    </p>
    <h6>Submitted by:</h6>
    <p>
      {{splitEmail upload.email}}
    </p>
    <h6>Submit Date:</h6>
    <p>
      <!-- createdAt gives you this ugly format: "2019-06-26T14:27:27.538Z" -->
      <!-- so this will need to be changed -->
      {{limit upload.createdAt}}
    </p>
    <h6>Last Updated:</h6>
    <p>
      {{limit upload.updatedAt}}
    </p>
    <p>
      {{upload.tags}}
    </p>
    <p>
      {{#if upload.editable}}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Edit
      </button>
      <button class="btn btn-danger remove-upload" data-id="{{upload._id}}">Take it down!</button>
      <!-- MODAL START -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- FORM START -->
              <div class="edit-upload-buttons">
                <form data-id="{{upload._id}}" id="image-update-{{upload._id}}" class="form-group">
                  <input name="upload[name]" type="text" placeholder="name" />
                  <input name="upload[description]" type="text" placeholder="description"/>
                  <input name="upload[tags]" type="text" placeholder="tags"/>
                  <input type ='submit' value='update' class="btn btn-outline-info">
                </form>
              </div>
              <!-- FORM END -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL END -->

      {{/if}}
    </p>
    <!-- we don't have partials right now, but this is how we would insert one -->
  </section>

{{/each}}
